* {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: #FFF8F3;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation style */
.nav-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
    font-weight: 800;
}

.btn-primary {
    color: var(--white-color, #FFF);
    height: 64px;
    width: 150px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;

}

/* banner style */
.banner {
    margin: 0 150px;
    display: flex;
    align-items: center;
}

.banner img {
    padding-left: 35%;
}

.banner-subtitle {
    color: var(--dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title {
    color: var(--dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner p {
    color: var(--dark-03, #757575);
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-secondary {
    color: var(--white-color, #FFF);
    height: 64px;
    width: 200px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    padding: 19px 17px 18px 51px;
    border-radius: 5px;
    background: #FD6E0A;
}

/* main section */
.main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */

.about {
    text-align: center;
    margin-top: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
}

.section_title {
    text-align: center;
    color: var(--dark-01, #181818);
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
    margin-top: ;
}

.section_description {
    text-align: center;
    color: var(--dark-03, #757575);
    margin-bottom: 50px;
    font-size: 18px;
}

.section_description2 {
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
    padding: 0 140px;
    margin-bottom: 30px;
}

.about_info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: var(--dark-03, #757575);
}

.info-description {
    color: var(--dark-02, #474747);
    font-size: 20px;
    font-weight: 700;
}

/* skills style */

.what-i-do {
    padding-top: 130px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    background: #FFF;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
/* resume style */

.resume-title{
    margin-top: 130px;
    margin-bottom: 113px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}